@font-face {
    font-family: 'Armata';
    font-style: normal;
    font-weight: 400;
    src: local('Armata'), local('Armata-Regular'), url(http://themes.googleusercontent.com/static/fonts/armata/v3/FG9R9aX-RIX_AvJI8USOWg.woff) format('woff');
}

/* BUTTONS */

/* SUBMIT BUTTON */
.button input[type=submit] {
    float: right;
    cursor: pointer;
    color: #DDDDCC;
    -webkit-box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .45), 0px 1px 1px 0px rgba(0,0,0, .3);
    box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .45), 0px 1px 1px 0px rgba(0,0,0, .3);
}

/* SUBMIT-HOVER */
.button input[type=submit]:hover {
    -webkit-box-shadow: inset 1px 1px 3px 0px rgba(255,255,255, .8), 0px 1px 1px 0px rgba(0,0,0, .6);
    box-shadow: inset 1px 1px 3px 0px rgba(255,255,255, .8), 0px 1px 1px 0px rgba(0,0,0, .6);
}

.button input[type=submit]:active {
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* SUBMIT COLOR */
.button input[type=submit],
.js .button span.checked:before {
    background: #FF6600;
    /*     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5cd4e), color-stop(100%,#FF6600)); */
    /*     background: -webkit-linear-gradient(top,  #a5cd4e 0%,#FF6600 100%); */
    /*     background: -o-linear-gradient(top,  #a5cd4e 0%,#FF6600 100%); */
    /*     background: linear-gradient(top,  #a5cd4e 0%,#FF6600 100%); */
}


.button input[type=text],
.button input[type=password],
.button input[type=submit] {
    line-height: 14px;
    margin: 10px 0;
    padding: 6px 15px;
    border: 0;
    outline: none;

    font-family: 'Armata', Fallback, monospace;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 0px 1px 1px rgba(255,255,255, .2);

    -webkit-border-radius: 26px;
    border-radius: 26px;

    -webkit-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}