/* ORAGNGE : #FF6600 */
/* BACKGROUND GREY: #363D41 */
/* TEXT: #DDDDCC */


h1 {
    color: #FF6600;
    text-shadow: 0.1em 0.1em 0.2em black;
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    text-align: center;
    margin-top: 0;
}

body {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #363D41;
}


#content
{
    margin-left: 20%;
    margin-right: 20%;
}



/* HORIZONTAL MENU */
#menu {
    margin: 0;
    padding: 0;
/*     background-color: #FF6600; */
    border-radius: 5px;
    width: 20%;
/*     height: 50px; */
}

#menu ul {
    margin : 0;
    padding: 0;

    /* to align in center */
/*     position: relative; */
/*     float: left; */
/*     left: 50%; */
}

#menu ul li {
    display: block;
    padding: 0;
    float: left;
    text-align: left;

    margin-top: 10px;
    margin-right: 2em;

    /* to align in center */
/*     position: relative; */
/*     right: 50%; */
}

#menu li a {
    color : white;
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    text-decoration: none;
/*     line-height : 13em, display:block ; */
}

#menu li span {
    font : 16px arial;
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    color : #9C9C9C;
    margin : 0;
}

#menu li a:hover {
    color : #FF6600;
    text-shadow: 0.1em 0.1em 0.2em black;
}

#menu li span:hover {
    color : #FF6600;
}

#menu li.active {
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    font-weight: bold;
    color : #FF6600;
    text-shadow: 0.1em 0.1em 0.2em black;
}

#menu span.active {
    color : #FF6600;
    text-shadow: 0.1em 0.1em 0.2em black;
}
